<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to GestorSimple">
          <match url="^$" />
          <action type="Redirect" url="/GestorSimple/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
